.portrait__wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 equal columns */
  gap: 1rem; /* space between items */
  width: max-content; /* Shrinks to fit content */
  margin: 2rem auto;
  justify-content: center;
  text-align: center;
}

/* .portrait__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  max-width: 1000px;
  margin: 2rem auto;
  text-align: center;
} */

.portrait__item {
  background: white; /* or whatever fits your design */
  padding: 0.5rem;
  text-align: center;
}

.archive__item-affilation {
  margin-top: 0.5rem;
  text-align: center;
}

.archive__item-name {
  margin-top: 0.5rem;
  text-align: center;
  font-weight: bold;
}


